/* Copyright © 2025 George Anton. All Rights Reserved.
   Authorized use only for Egypt-Japan University of Science and Technology. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: Grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.campus-content {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f9fa;
    width: 95%;
    max-width: 600px;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

button {
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 95%;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 70%;
    max-width: 300px;
}

.search-container button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #EE1616;
    border-radius: 0 5px 5px 0;
    background-color: #EE1616;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #cc0000;
}

#professors-results, #labs-results {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Hidden by default */
}

.result-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-item p {
    margin: 0;
    font-size: 14px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}
